.container-formulario2 {
    background-color: #fcdf81;
    padding: 20px;
    color: white;
    display: grid;
    place-items: center;
  }
  
  .container-pregunta {
    margin-bottom: 20px;
  }
  
  .container-respuestas label {
    display: block;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    background-color: '\u00A0'#fff;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  .Title-Form2{
    color: white;
  background-color: #CCAA33;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: 28px;
  }